<h2 class="center-align">Statistic</h2>
<ul class="collapsible" data-collapsible="accordion">


<% @statistic.each_pair do | name, data | %>
  <li>
    <div class="collapsible-header"><i class="material-icons">person</i><%= name.to_s %></div>
    <div class="collapsible-body">
      <table class="bordered centered">
        <thead>
        <tr>
          <th>Mode</th>
          <th>Win</th>
          <th>Lose</th>
          <th>Last Game</th>
        </tr>
        </thead>

        <tbody>
        <% data.each_pair do |mode, stat| %>
          <% unless stat[:last_game].nil? %>
            <tr>
              <td><%= mode.to_s.capitalize %></td>
              <td><%= stat[:win].to_s %></td>
              <td><%= stat[:lose].to_s %></td>
              <td><%= stat[:last_game].strftime("%d.%m.%Y %H:%M") %></td>
            </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </li>
<% end %>
</ul>