<div class="row">
  <div class="col l6 offset-l3 s12 z-depth-1">
    <div class="row">
      <div class="col s12 red lighten-2">
        <h1 class="center-align white-text">Codebreaker</h1>
      </div>
    </div>
    <form method="post">
      <div class="row">
        <div class="col s12">
          <p class="center-align">Guess code with number from 1 to 6</p>
          <div class="input-field col s6 offset-s3">
            <input id="guess_code" name="guess_code" type="number" class="center-align" max="6666">
            <label for="guess_code">Guess code</label>
          </div>
        </div>
      </div>
      <div class="row menu">
        <div class="col s6 center-align">
          <button type="submit" class="waves-effect waves-light btn green darken-3"><strong>submit</strong></button>
        </div>
        <div class="col s6 center-align">
          <a class="waves-effect waves-light btn">hint</a>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col s12 center-align">
        <p>Attempts: <%= current_game.attempts %>/<%= total_attempts %></p>
      </div>
    </div>
    <!--<div class="row">-->
      <!--<div class="col s12 history">-->
        <!--<h5 class="center-align">Hints:</h5>-->
        <!--<ul class="center-align">-->
          <!--<li>#2##</li>-->
          <!--<li>##5#</li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->
    <%= current_game.status.inspect %>
    <% unless session[:history].nil? %>
    <div class="row">
      <div class="col s12 history">
        <h5 class="center-align">Attempts:</h5>
        <table class="centered">
          <thead>
          <tr>
            <th>#</th>
            <th>Guess</th>
            <th>Matching</th>
          </tr>
          </thead>
          <tbody>
          <% session[:history].each_with_index do |history, index| %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= history[0] %></td>
            <td><%= history[1] %></td>
          </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <% end %>
  </div>
</div>
