<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Codebreaker</title>
  <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/js/materialize.min.js"></script>
  <script type="text/javascript" src="/js/script.js"></script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" />
  <link type="text/css" rel="stylesheet" href="/css/font-awesome.min.css" />
  <link type="text/css" rel="stylesheet" href="/css/style.css" />
</head>
<body>

<header>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">Codebreaker</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li>
          <a href="/game" class="waves-effect waves-light btn">Srart Game</a>
        </li>
        <li>
          <a href="/rules">Rules</a>
        </li>
        <li>
          <a href="/statistic">Statistic</a>
        </li>
      </ul>
      <ul class="right  hide-on-med-and-down">
        <% if @request.current_user? %>
          <li>
            <span class="nav-text">Hello, <%= @request.session[:user].name %></span>
          </li>
          <li>
            <a href="/logout">
              <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
            </a>
          </li>
        <% else %>
          <li>
            <a href="/login">
              <i class="fa fa-sign-in" aria-hidden="true"></i> Login
            </a>
          </li>
          <li>
            <a href="/register">
              <i class="fa fa-user-plus" aria-hidden="true"></i> Register
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>

<main class="container">
  <% unless @request.flash_empty? %>
    <div id="alert-message">
      <% @request.get_flash.each do |item| %>
        <div class="card-panel <%= item[:type] %>">
          <span class="message"><%= item[:message] %></span>
          <i class="pull-right material-icons close-button" onclick="$(this).parent('div').remove()">close</i>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= @template %>
</main>

<div id="statistic" class="modal">
  <div class="modal-content">
    <h4>Statistic</h4>
    <% Statistic.load.each_pair do | name, data | %>
    <h4 class="center-align"><%= name.to_s %></h4>

    <table class="bordered centered">
      <thead>
      <tr>
        <th>Mode</th>
        <th>Win</th>
        <th>Lose</th>
        <th>Last Game</th>
      </tr>
      </thead>

      <tbody>
      <% data.each_pair do |mode, stat| %>
      <% unless stat[:last_game].nil? %>
      <tr>
        <td><%= mode.to_s.capitalize %></td>
        <td><%= stat[:win].to_s %></td>
        <td><%= stat[:lose].to_s %></td>
        <td><%= stat[:last_game].to_s %></td>
      </tr>
      <% end %>
      <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <span class="grey-text text-lighten-4">
      © <%= Time.now.year %> Vladimir Poshyvailo
    </span>
    <span class="right">
      <a class="grey-text text-lighten-4 " href="https://github.com/poshyvailo/rg_courses_codebreacker_rack" target="_blank">
        <i class="fa fa-github" aria-hidden="true"></i> Code on Github
      </a>
    </span>
  </div>
</footer>
</body>
</html>
